 
Body {
    background-color: #000000;
}

h1 {
    color:#ff7300;
}



.cor1{
    background-color: rgb(255, 0, 0);
}

.col2 {
    background-color: #ff0000;
}

h5 {
    color: rgb(255, 0, 0);
   
}
p {
    color: #ff0000;
}